/*FUENTES*/
@font-face {
  font-family: "TrebuchetMS";
  src: url(../CSS/fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(../CSS/fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url(../CSS/fonts/Simbolos.woff);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

body {
  background-image: url(../img/pattern.png);
  width: 100vw;
  height: 2000px;
  display: grid;
  grid-template-rows: 3% 6% 23% 60% 8%;
  overflow-x: hidden;
}

/*EMPIEZA MAQUETACION DE LA CABECERA*/
#header {
  width: 100%;
  background-color: black;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

header > section {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px grey solid;
  height: 70%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;

  box-shadow: inset 0px 0px 50px 5px #ffffff;
}

@keyframes sections {
  from {
    box-shadow: inset 0px 0px 50px 5px #ffffff;
  }
  to {
    box-shadow: inset 0px 0px 50px 5px black;
  }
}

header > section:hover {
  animation: sections 0.5s forwards;
}

header > section > a {
  text-decoration: none;
  color: white;
}

.gear {
  font-family: "WebSymbolsRegular";
  display: inline;
}

#icono > div > h2 {
  float: left;
}

#icono {
  color: white;
  float: left;
  margin-left: 5%;
  height: 100%;
  width: 17%;
  text-align: center;
  background-color: rgba(0, 131, 238, 0.795);
  font-size: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icono:hover {
  color: black;
  background-color: #ccc;
}

#icono:hover > div > h1 {
  animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

#icono:hover > div > h2 {
  animation: fromRight 300ms linear;
}

@keyframes fromRight {
  0% {
    transform: translatex(200%);
  }
  100% {
    transform: translatex(0%);
  }
}

#Blog {
  margin-left: 15%;
  float: left;
}

#Portafolio {
  float: left;
}

#Contacto {
  float: left;
}

/*tERMINA MAQUETACIONDE LA CABECERA*/

/*EMPIEZA MAQUETACION DEL CUERPO DE LA PAGINA*/

/*INICIO MAQUETACION DEL BANNER*/
#contenedor_banner {
  box-shadow: 0 0 2px 1px grey;
  width: 80%;
  margin-top: 1%;
  margin-left: 10%;
  border: white solid 10px;
  overflow: hidden;
  grid-row: 2/3;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/bakbaner.png);
  color: white;
  text-align: center;
  font-size: 30px;
  animation: bannerBackground 1000ms linear;
}

@keyframes bannerBackground {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

body > div > div > p {
  animation: showText 10s linear;
}

@keyframes showText {
  0% {
    transform: translateX(-600%) scale(5, 5);
    opacity: 1;
  }
  50% {
    transform: translateX(600%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translateX(-600%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
  }
}

/*FIN MAQUETACION DEL BANNER*/

/*INICIA MAQUETACION DE LAS TARJETAS*/

#Desarrollo_Web,
#Sistemas_Operativos,
#Hardware,
#Redes_Internet,
#Bases_Datos {
  height: 80%;
  width: 14%;
  box-shadow: 0 0 2px 1px grey;
  float: left;
  font-size: 75%;
  text-align: center;
  font-family: "TrebuchetMS";
  padding-top: 20px;
  background-color: white;
  transition: all 300ms;
  overflow: hidden;
}

#cuerpo {
  grid-row: 3/4;
}

#cuerpo > div:hover {
  background-color: black;
}

#Sistemas_Operativos,
#Hardware,
#Redes_Internet,
#Bases_Datos {
  margin-left: 3%;
}

#Desarrollo_Web {
  margin-left: 10%;
}

#cuerpo > div > h1 {
  font-size: 50px;
  display: block;
}

#cuerpo > div:hover > h1 {
  font-size: 70px;
  color: rgb(64, 82, 241);
  animation: showIcon 300ms linear;
}

@keyframes showIcon {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.letra_tarjetas > h1 {
  color: rgb(64, 82, 241);
  margin-top: 15%;
  margin-bottom: 25%;
}

#cuerpo > div:hover > .letra_tarjetas > h1 {
  animation: showCategory 400ms linear;
}

@keyframes showCategory {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

.letra_tarjetas > h2 {
  color: rgb(64, 82, 241);
}

#cuerpo > div:hover > .letra_tarjetas > h2 {
  animation: showDescription 400ms linear;
}

@keyframes showDescription {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*TERMINA MAQUETACION DE LAS TERJETAS*/

/*TERMINA MAQUETACION DEL CUERPO DE LA PAGINA*/

/*INICIO DE LA BARRA LATERAL*/

main {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  padding: 0% 5% 0% 7%;
}

aside {
  padding-top: 60%;
  width: 100%;
  float: right;
  grid-column: 2/3;
  grid-row: 1/2;
}

aside > h1 {
  box-shadow: black 0 0 1px 2px;
  margin: 20% 0% 10% 0%;
  background-color: rgb(223, 222, 222);
  height: 4%;
  text-align: center;
}

aside > div > div > form > :last-child {
  border: 1px grey solid;
  width: 15px;
  margin-left: -22px;
}

aside > div > div > form > :first-child,
#login > form > input {
  margin-left: 7%;
  width: 80%;
  height: 25px;
}

#login {
  background-color: white;
  height: 250px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: grey 0 5px 5px 0;
  padding-top: 20px;
}

.icon {
  font-family: "WebSymbolsRegular";
  margin-left: -10%;
}

#login > form > div > input {
  background-color: rgb(0, 150, 236);
  color: white;
  text-align: center;
  height: 35px;
  width: 40%;
  box-shadow: grey 0 2px 1px 0;
  margin-top: 20px;
  margin-left: 10px;
}

#login > div {
  text-align: left;
  margin-top: 75px;
}

#login > div > a {
  text-decoration: none;
  color: black;
}

#Social {
  background-color: white;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: grey 0 6px 5px 0;
  overflow: hidden;
}

#Social > div > a {
  color: black;
  font-size: 200%;
  margin-left: 0%;
  float: left;
}

.socialname {
  width: 100%;
  height: 100%;
  color: white;
}

#Social > div {
  margin-top: 6%;
}

#Social > div > div {
  margin-left: 30%;
}

#Social > div:hover > div {
  animation: showSocial 300ms linear;
  background-color: black;
  color: rgb(64, 82, 241);
  font-size: 22px;
}

@keyframes showSocial {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*FIN DE LA BARRA LATERAL*/
/*INICIA PARTE CENTRAL DE LA PAGINA*/
#Central {
  height: 100%;
  width: 95%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#Ultimos_Articulos {
  width: 100%;
  height: 50px;
  box-shadow: rgb(70, 69, 69) 0 0 3px 2px;
  background-color: rgb(223, 222, 222);
  text-align: center;
}

.Articulos {
  width: 96%;
  height: 15%;
  border: grey 1px solid;
  margin-top: 5%;
  margin-left: 2%;
  box-shadow: grey 0 1px 2px 0;
  background-color: white;
}

.Titulos_Articulos > a,
.Contenido_Articulos > a {
  text-decoration: none;
}

.Titulos_Articulos > a {
  width: 60%;
  text-decoration: none;
  color: blue;
  font-size: 25px;
  float: left;
}

.Fecha_Articulos {
  width: 40%;
  height: 35px;
  background-color: rgb(73, 72, 72);
  color: white;
  float: left;
  font-size: 85%;
}

.Contenido_Articulos {
  margin-top: 4%;
  padding: 2%;
  font-size: 97%;
}

/*FIN DE LA PARTE CENTRAL DE LA PAGINA*/
/*INICIO DEL PIE DE PAGINA*/
#Footer {
  padding: 0.5% 0% 0% 0%;
  grid-row: 5/6;
  width: 100vw;
  max-width: 100vw;
  background-color: black;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 100%;
  justify-content: space-evenly;
}

#div_menu {
  height: 100%;
  float: left;
  grid-column: 1/2;
}

#Menu {
  width: 100%;
  background-color: rgb(223, 222, 222);
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#Lista_Menu > ul > li > a {
  text-decoration: none;
  color: rgb(64, 82, 241);
  border-bottom: grey 1px solid;
  font-size: 20px;
}

#Lista_Menu > ul > li {
  margin-top: 3%;
}

#Lista_Menu > ul > li:hover {
  color: white;
  animation: menuRight 200ms forwards;
}

@keyframes menuRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(50%);
  }
}

#especificaciones {
  height: 100%;
  float: left;
  grid-column: 2/3;
}

#author {
  width: 100%;
  background-color: rgb(223, 222, 222);
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

#especificaciones > :last-child,
#especificaciones > :last-child > a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 3%;
}
/*FIN DEL PIE DE PAGINA*/
/*FIN DE LA PAGINA*/
