/*FUENTES*/
@font-face {
  font-family: "TrebuchetMS";
  src: url(../CSS/fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(../CSS/fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url(../CSS/fonts/Simbolos.woff);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 1700px;
  display: grid;
  grid-template-rows: 7% 5% 60% 20% 8%;
  overflow-x: hidden;
}

/*EMPIEZA MAQUETACION DE LA CABECERA*/

#sections {
  background-color: black;
  width: 100%;
  height: 50%;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

#menu {
  display: none;
}
#button_menu {
  display: none;
}

#Blog,
#Portafolio,
#Contacto {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px grey solid;
  height: 70%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  box-shadow: inset 0px 0px 50px 5px #ffffff;
}

@keyframes sections {
  from {
    box-shadow: inset 0px 0px 50px 5px #ffffff;
  }
  to {
    box-shadow: inset 0px 0px 50px 5px black;
  }
}

#sections > section:hover {
  animation: sections 0.5s forwards;
}

#sections > section > a {
  text-decoration: none;
  color: white;
}

.gear {
  font-family: "WebSymbolsRegular";
  display: inline;
}

#icono > div > h2 {
  float: left;
}

#icono {
  color: white;
  float: left;
  margin-left: 5%;
  height: 80%;
  width: 17%;
  text-align: center;
  background-color: rgba(0, 131, 238, 0.795);
  font-size: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icono:hover {
  color: black;
  background-color: #ccc;
}

#icono:hover > div > h1 {
  animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

#icono:hover > div > h2 {
  animation: fromRight 300ms linear;
}

@keyframes fromRight {
  0% {
    transform: translatex(200%);
  }
  100% {
    transform: translatex(0%);
  }
}

#Blog {
  margin-left: 15%;
  float: left;
}

#Portafolio {
  float: left;
  margin-left: 35%;
}

#Contacto {
  float: left;
}

/*tERMINA MAQUETACIONDE LA CABECERA*/

/*EMPIEZA MAQUETACION DEL CUERPO DE LA PAGINA*/

/*INICIO MAQUETACION DEL BANNER*/
#contenedor_banner {
  box-shadow: 0 0 2px 1px grey;
  border: white solid 10px;
  overflow: hidden;
  grid-row: 2/3;
  margin: 0% 20%;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/bakbaner.png);
  color: white;
  text-align: center;
  font-size: 30px;
  animation: bannerBackground 1000ms linear;
}

@keyframes bannerBackground {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

body > div > div > p {
  animation: showText 10s linear;
}

@keyframes showText {
  0% {
    transform: translateX(-600%) scale(5, 5);
    opacity: 1;
  }
  50% {
    transform: translateX(600%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translateX(-600%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
  }
}

/*FIN MAQUETACION DEL BANNER*/

/*INICIA MAQUETACION DE LAS TARJETAS*/

@keyframes showIcon {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*TERMINA MAQUETACION DE LAS TERJETAS*/

/*TERMINA MAQUETACION DEL CUERPO DE LA PAGINA*/

/*INICIO DE LA BARRA LATERAL*/

main {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  padding: 3% 3% 0% 3%;
}

#Spotify_responsive {
  display: none;
}

aside {
  padding-top: 60%;
  width: 100%;
  float: right;
  grid-column: 2/3;
  grid-row: 1/2;
}

aside > h1 {
  box-shadow: black 0 0 1px 2px;
  margin: 20% 0% 10% 0%;
  background-color: rgb(223, 222, 222);
  height: 4%;
  text-align: center;
}

aside > div > div > form > :last-child {
  border: 1px grey solid;
  width: 15px;
  margin-left: -22px;
}

aside > div > div > form > :first-child,
#login > form > input {
  margin-left: 7%;
  width: 80%;
  height: 25px;
}

#login {
  background-color: white;
  height: 250px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: grey 0 5px 5px 0;
  padding-top: 20px;
}

.icon {
  font-family: "WebSymbolsRegular";
  margin-left: -10%;
}

#login > form > div > input {
  background-color: rgb(0, 150, 236);
  color: white;
  text-align: center;
  height: 35px;
  width: 40%;
  box-shadow: grey 0 2px 1px 0;
  margin-top: 20px;
  margin-left: 10px;
}

#login > div {
  text-align: left;
  margin-top: 75px;
}

#login > div > a {
  text-decoration: none;
  color: black;
}

@keyframes showSocial {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*FIN DE LA BARRA LATERAL*/
/*INICIA PARTE CENTRAL DE LA PAGINA*/
#Central {
  height: 100%;
  width: 90%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Ultimos_Articulos {
  width: 90%;
  height: 4%;
  box-shadow: rgb(70, 69, 69) 0 0 3px 2px;
  background-color: rgb(223, 222, 222);
  text-align: center;
}

.Articulos {
  width: 85%;
  height: 17%;
  border: grey 1px solid;
  margin-top: 5%;
  box-shadow: grey 0 1px 2px 0;
  background-color: white;
  overflow-y: hidden;
}

.encabezado {
  display: flex;
}

.encabezado > h3 {
  width: 75%;
  text-decoration: none;
  color: blue;
  font-size: 25px;
  float: left;
}

.Fecha_Articulos {
  width: 25%;
  height: 35px;
  background-color: rgb(73, 72, 72);
  color: white;
  float: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contenido_Articulos {
  padding: 2%;
  font-size: 97%;
  line-height: 125%;
}

.Contenido_Articulos > a {
  text-decoration: none;
}
/*FIN DE LA PARTE CENTRAL DE LA PAGINA*/

/*FORM PARA CORREO*/

form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 75%;
  row-gap: 15%;
  justify-items: center;
}

#section_inputs {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0vw 28vw 28vw 32vw 0vw;
  grid-template-rows: 15% 15% 15% 45%;
  row-gap: 5%;
  column-gap: 3vw;
}

form > h4 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  border: rgb(109, 109, 109) 1.5px double;
  height: 100%;
  width: 90vw;
}

#Nombre {
  grid-column: 2/3;
  grid-row: 1/2;
}

#input_nombre {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 60%;
  background-color: #e5e5e5;
}

#error_nombre {
  grid-column: 2/3;
  grid-row: 3/4;
}

#error_nombre,
#error_apellido,
#error_correo {
  background-color: #ff4646bd;
  border: red 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

#Apellido {
  grid-column: 3/4;
  grid-row: 1/2;
}

#input_apellido {
  grid-column: 3/4;
  grid-row: 2/3;
  height: 60%;
  background-color: #e5e5e5;
}

#error_apellido {
  grid-column: 3/4;
  grid-row: 3/4;
}

#Correo {
  grid-column: 4/5;
  grid-row: 1/2;
}

#input_correo {
  grid-column: 4/5;
  grid-row: 2/3;
  height: 60%;
  background-color: #e5e5e5;
}

#error_correo {
  grid-column: 4/5;
  grid-row: 3/4;
}

#Enviar {
  grid-row: 4/5;
  grid-column: 3/4;
  width: 70%;
  height: 50%;
  margin-top: 6%;
  margin-left: 15%;
  background-color: #999999;
}

#alerts_form {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#correo_enviado,
#correo_no_enviado,
#correo_inscrito {
  background-color: #f8f8f8ec;
  border: black 2px solid;
  width: 55vw;
  height: 95%;
  display: grid;
  justify-items: center;
  align-items: center;
  display: none;
}

#correo_enviado > input,
#correo_no_enviado > input {
  height: 80%;
  width: 25%;
}

#correo_no_enviado {
  grid-template-rows: 60% 10% 10% 20%;
}

#correo_enviado {
  grid-template-rows: 60% 10% 10% 20%;
}

#correo_inscrito {
  grid-template-rows: 55% 20% 25%;
  text-align: center;
  width: 90vw;
  height: 95%;
}

#correo_inscrito > p > a {
  color: black;
}

.img_correo {
  height: 90%;
  width: 25%;
}

/*FORM PARA CORREO*/

/*INICIO DEL PIE DE PAGINA*/
#Footer {
  grid-row: 5/6;
  width: 100vw;
  max-width: 100vw;
  background-color: black;
}

#especificaciones {
  height: 95%;
  width: 100%;
}

#author {
  width: 100%;
  height: 30%;
  background-color: rgb(223, 222, 222);
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#social {
  height: 50%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

#social > a {
  height: 85%;
  width: 6%;
}

#social > a > img {
  height: 100%;
  width: 100%;
}

/*FIN DEL PIE DE PAGINA*/
/*FIN DE LA PAGINA*/
