body {
  height: 1500px !important;
}

@media (min-width: 577px) and (max-width: 700px) {
  body {
    height: 1700px !important;
  }
}

@media (min-width: 454px) and (max-width: 576px) {
  body {
    height: 1800px !important;
  }
}

@media (min-width: 380px) and (max-width: 453px) {
  body {
    height: 2000px;
  }
}

@media (min-width: 295px) and (max-width: 379px) {
  body {
    height: 2200px;
  }
}

@media (min-width: 0px) and (max-width: 294px) {
  body {
    height: 2400px;
  }
}
