* {
  margin: 0px;
  padding: 0px;
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 1500px;
  width: 100%;
  display: grid;
  grid-template-rows: 4% 92% 4%;
}

header {
  grid-row: 1/2;
  width: 100%;
  background-color: rgba(206, 206, 206, 0.381);
  -webkit-box-shadow: 0px 0px 38px -13px #000000;
  box-shadow: 0px 0px 38px -13px #000000;
}

#home,
#previous,
#next {
  height: 90%;
  width: 4%;
}

#home {
  margin-left: 2%;
}

#previous {
  margin-left: 80%;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  margin-top: 2%;
  justify-items: center;
}

#encabezado {
  width: 100%;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#img_titulo {
  height: 100%;
  width: 20%;
}

#img_titulo > img {
  height: 100%;
  width: 100%;
}

#titulo_articulo {
  height: 50%;
  width: 55%;
  margin-top: 2%;
  display: flex;
  border: 2px gray solid;
  -webkit-box-shadow: inset 0px 0px 30px -20px #000000;
  box-shadow: inset 0px 0px 30px -20px rgb(4, 4, 99);
}

#titulo_articulo > h1 {
  margin: auto;
}

#cuerpo_articulo {
  grid-row: 2/3;
  height: 100%;
  width: 90%;
  line-height: 150%;
  margin-top: 2%;
  padding: 1%;
}

footer {
  width: 100vw;
  background-color: rgba(206, 206, 206, 0.381);
  display: flex;
  align-items: center;
}

footer > a > img {
  height: 100%;
  width: 100%;
}

footer > a {
  width: 4%;
  height: 70%;
  margin-left: 5%;
}

footer > h4 {
  margin-left: 3%;
  font-size: 25px;
}

footer > h5 {
  margin-left: 3%;
  font-size: 20px;
}
